*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0c0c0c;
}

.container .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00ce00;
    clip-path: circle(60% at right -20%);
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    position: relative;
    max-width: 420px;
}

.header .navigation{
    position: relative;
    display: flex;
} 

.header .navigation li{
    list-style: none;
}

.header .navigation li a{
    display: inline-block;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.header .navigation li a:hover{
    color: #222;
    font-weight: 500;
    transition: .5s;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textbx{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.content .textbx h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: bold;
}

.content .textbx p{
    color: #fff;
    font-size: 1.25em;
}

.content .textbx a{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 22px;
    background: #00ce00;
    color: #fff;
    border-radius: 40px;
    font-size: 1.35em;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .textbx a:hover{
    background: #fff;
    color: #00ce00;
}

.sn{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sn li{
    list-style: none;
}

.sn li a{
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.sn li a:hover{
    background: #00ce00;
    transform: translateY(-10px);
}

.sn li a img{
    filter: invert(1);
    transform: scale(.5);
}

/********SLIDER*******/
.swiper-container {
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
}

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 190px;
    height: 460px;
    display: flex;
    justify-content: center;
}

.content .imgbx{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.content .imgbx img{
    max-width: 150px;
    
}

.flechas img{
    width: 100px;
}

.swiper-slide img{
    position: relative;
    bottom: 0;
    max-height: 100%;
    width: 280px;
}

/* .swiper-container-3d .swiper-container-shadow-left,
.swiper-container-3d .swiper-container-shadow-right{
    background-image: none;
} */

@media (max-width: 991px){
    .header{
        padding: 40px;
    }

    .header .logo{
        width: 313px;
    }
    
    .header .navigation{
        display: none;
    }

    .header .navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        bottom: 10%;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,154,31,1) 49%, rgba(173,255,143,1) 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .header .navigation li a{
        margin: 10px 0;
        font-size: 2em;
        font-weight: 300;
    }
    .header .navigation li a:hover{
        color: #222;
        font-weight: 500;
        transition: .5s;
    }

    .flechas img{
        background: #00ce00;
        border-radius: 20px;
        padding: 10px 16px;
    }

    .container{
        padding: 150px 40px;
    }

    .container .circle{
        clip-path: circle(48% at right -20%);
    }

    .sn{
     justify-content: space-evenly;
     align-items: center;
    }

    .content{
        flex-direction: column;
    }

    .flechas img{
        margin-top: 40px;
    }

    .content .imxb{
        margin-top: 100px;
    }

    .content.textbx, .content .imgbx{
        max-width: 100%;
    }

    .swiper-slide{
        height: 300px;
    }

    .toggle{
        position: fixed;
        right: 30px;
        width: 30px;
        height: 30px;
        background: url(../img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }

    .toggle.active{
        background: url(../img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (max-width: 691px){
    .container .circle{
        clip-path: circle(48% at right -20%);
    }
}